#change{
    font-family: "Avenir Next";
    text-align: center;
}

#buttonChange{ 
    font-family: "Avenir Next";
    text-align: center;
    background-color: white;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 400px;
    height: 40%;
}
